# Eclipse stuff
.classpath
.project
.settings/

# netbeans
nbproject/
nbactions.xml

# Compiled class file
*.class

# Log file
*.log

# gradle
.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# local dependency
API.jar

# vim
.*.sw[a-p]

# various other potential build files
build/
bin/
dist/
manifest.mf

# Mac filesystem dust
.DS_Store/

# intellij
*.iml
*.ipr
*.iws
.idea/

# Kotlin
.out
.build
/local.properties
/build
/captures

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Other stuff
Spigot-API
Spigot-Server
Bukkit
CraftBukkit

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*